<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Company', page_path('about') %></li>
  <li><%= link_to 'Services', page_path('services') %></li>
  <li><%= link_to 'Recruite/Recruite', page_path('services') %></li>
</ul>
