<!DOCTYPE html>
<html>
<head>
	<!--<script src="http://ccchart.com/js/ccchart.js" charset="utf-8"></script>-->
  <title>Ccchart</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
